:root {
  --main-color: #0056b3;
  --secondary-color: #333;
  --text-color: #000;
  --highlight-color: #f4f4f4;
  --transition-speed: 0.3s;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

ul.resp-tabs-list {
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #ddd;
}

ul.resp-tabs-list li {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  list-style: none;
  cursor: pointer;
  width: 20%;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  color: var(--text-color);
  background-color: #fff;
  transition: color var(--transition-speed), background-color var(--transition-speed);
}

ul.resp-tabs-list li:hover {
  background-color: var(--highlight-color);
  color: var(--main-color);
}

ul.resp-tabs-list li.resp-tab-active {
  color: #fff;
  background-color: var(--main-color);
  position: relative;
  margin: auto;
}

ul.resp-tabs-list li.resp-tab-active::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--main-color);
  transition: background-color var(--transition-speed);
}

.resp-tabs-container {
  padding: 2em;
  background-color: #fff;
  border: 1px solid #ddd;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  transition: box-shadow var(--transition-speed);
  transition: opacity 0.3s ease-in-out;
}
.responsive_tabs{
  margin-top: 0px;
  width: 70%;
}


.tab-content {
  display: none;
  color: var(--text-color);
  line-height: 1.6;
}

.resp-content-active {
  display: block;
  animation: fadeIn var(--transition-speed) ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Accordion for mobile */
h2.resp-accordion {
  display: none; /* Hide on desktop */
  font-size: 1em;
  background-color: var(--highlight-color);
  color: var(--main-color);
  padding: 15px;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

h2.resp-accordion:hover {
  background-color: var(--main-color);
  color: #fff;
}

.resp-arrow {
  float: right;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid var(--text-color);
  transition: transform var(--transition-speed);
}

.resp-tab-active .resp-arrow {
  transform: rotate(180deg);
}

/* Show accordion only on mobile */
@media only screen and (max-width: 768px) {
  .resp-tabs-container{
    padding: 0;
  }
  .single_page{
    padding: 20px;
  }
  ul.resp-tabs-list {
    display: none;
  }
  h2.resp-accordion {
    display: block;
  }
  .responsive_tabs{
    width: 100%;
  }
  
}


/* detail */

.user-form {
  /* max-width: 400px; */
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 3px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  transition: box-shadow var(--transition-speed);
}

.user-form .form-group {
  margin-bottom: 1em;
}

.user-form label {
  font-weight: bold;
  color: var(--text-color);
  display: block;
  margin-bottom: 0.3em;
}

.user-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
  color: #666;
  transition: background-color var(--transition-speed);
}

.user-form input:disabled {
  background-color: #e9e9e9;
  color: #999;
  cursor: not-allowed;
}

.user-form .edit-btn,
.user-form .save-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.user-form .edit-btn {
  background-color: var(--main-color);
}

.user-form .save-btn {
  background-color: #28a745;
  display: none;
}

.user-form.edit-mode input {
  background-color: #fff;
  color: #333;
  border-color: #ff5e14;
}

.user-form.edit-mode .save-btn {
  display: inline-block;
}
